
<body background="https://dhallywoodworld.files.wordpress.com/2014/12/background-light-web-opera-blue-simple.jpg">


<style>
table, td, th{
border: 1px solid black;
}

td{
font-size: 20;
}

#table{
border-collapse: separate;
border: none;
background-color: #87CEFA;
}

h2{
margin: 5px;
}

</style>



<h1 style="color:#3B7A57">{{reportName}} </h1>
<!--<h4 style="color: #3B7A57;">{{dateUpdated}}</h4>-->


<h2 style="font-style:italic; color:#3B7A57">{{title1}}</h2>
<table style="width:35%; border: none; border-collapse: collapse;">
    <tr style="color:#85929E; border-collapse: collapse;">
        <th style="text-align: left; border-bottom: none; border-top: none; border-right: none; border-left: none;"><font size="5">{{date}}</font></th>
        <th style="border-bottom: none; border-top: none; text-align: right; border-right: none; border-left: none;"><font size="5">{{amount3}}</font></th>

    </tr>

    {{#values1}}
        <tr style="border-collapse: collapse;">
            <td style="border-right: none; border-left: none;">{{value4}}</td>
            <td style="font-weight:bold; text-align: right; border-right: none; border-left: none;">{{value1}}</td>
        </tr>
    {{/values1}}

</table>


<h2 style="font-style:italic; color:#3B7A57"; >{{title2}}</h2>
<table style="width:45%; border-top: none; border: none; border-collapse: collapse;">
    <tr style="border-bottom: none; color:#85929E; border-collapse: collapse;">
        <th style="text-align: left; border-bottom: none; border-top: none; border-right: none; border-left: none;"><font size="5">{{categories}}</font></th>
        <th style="border-bottom: none; border-top: none; text-align: right; border-right: none; border-left: none;"><font size="5">{{amount}}</font></th>

    </tr>

    {{#values2}}
        <tr style="border-collapse: collapse;">
            <td style="border-right: none; border-left: none;">{{value1}}</td>
            <td style="font-weight:bold; text-align: right; border-right: none; border-left: none;">{{value2}}</td>
        </tr>
    {{/values2}}
</table>


<h2 style="font-style:italic; color:#3B7A57">{{title3}}</h2>
<table style="width:45%; border-top: none; border: none; border-collapse: collapse;">
    <tr style="border-bottom: none; color:#85929E; border-collapse: collapse;">
        <th style="text-align: left; border-bottom: none; border-top: none; border-right: none; border-left: none;"><font size="5">{{categories2}}</font></th>
        <th style="border-bottom: none; border-top: none; text-align: right; border-right: none; border-left: none;"><font size="5">{{amount2}}</font></th>

    </tr>

    {{#values3}}
        <tr style="border-collapse: collapse;">
            <td style="border-right: none; border-left: none;">{{value1}}</td>
            <td style="font-weight:bold; text-align: right; border-right: none; border-left: none;">{{value2}}</td>
        </tr>
    {{/values3}}
</table>


<h2 style="font-style:italic; color:#3B7A57"; >{{title4}}</h2>
<table style="width:45%; border-top: none; border: none; border-collapse: collapse;">
    <tr style="border-bottom: none; color:#85929E; border-collapse: collapse;">
        <th style="text-align: left; border-bottom: none; border-top: none; border-right: none; border-left: none;"><font size="5"> {{column1}}</font></th>
        <th style="border-bottom: none; border-top: none; text-align: right; border-right: none; border-left: none;"><font size="5">{{column2}}</font></th>
        <th style="border-bottom: none; border-top: none; text-align: right; border-right: none; border-left: none;"><font size="5">{{column3}}</font></th>
    </tr>

    {{#values4}}
        <tr style="border-collapse: collapse;">
            <td style="border-right: none; border-left: none;">{{value1}}</td>
            <td style="font-weight:bold; text-align: right; border-right: none; border-left: none;">{{value2}}</td>
        </tr>
    {{/values4}}
</table>











